* {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  background-color: azure;
}
a {
  color: #fff;
}


.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  padding-top: 10px;
  margin: auto;
  
}
.pagination{
  text-align: center;
  margin-bottom: 10px;
}
.pagination button{
  margin-left: 10px; 
  background-color: rgb(140, 170, 139);
  padding-left:20px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.pagination button:hover{
  background-color: rgb(55, 167, 129);

}
.pokemons{
  max-width: 520px;
  width: 520px;
  height: 481px;
}
.list_pokemon a {
  text-decoration: none;
  padding-bottom: 0;
}

.list_pokemon li {
  background-color: rgb(140, 170, 139);
  margin: 5px;
  padding: 5px;
  text-align: center;

  display: inline-block;
  border-radius: 3px;
  width: 110px;
  height: 130px;


  -webkit-transition: all 0.4s ease-in 0.2s;
      -moz-transition: all 0.4s ease-in 0.2s;
        -o-transition: all 0.4s ease-in 0.2s;
           transition: all 0.4s ease-in 0.2s;

  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}
.list_pokemon li:hover{
    -webkit-transform:scale(1.1); 
       -moz-transform:scale(1.1); 
         -o-transform:scale(1.1);
             transform:scale(1.1);
}
.list_pokemon img{
  width: 100%;
  height: 85%;

}

.list_pokemon img:hover, a:hover{
  cursor: pointer;
}

.img_pokemon {
  width: 270px;
  height: 300px;
}

.pokemon_detalhes {
  text-align: center;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 28px;
  color: #333;

  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

.pokemon_detalhes .info {
  background-color: rgb(140, 170, 139);
  text-align: left;
  padding-left: 5px;
  font-weight: 700;
}
#nome{
  color: black;
  font-size: 24px;
  height: 30px;
}
